<!DOCTYPE html>
<html>
<head>
  <script src="/js/face-api.js"></script>
  <script src="/js/faceLandmark.js"></script>
  <link rel="stylesheet" href="/styles.css">
	
</head>
<body>
	<img id="img" src="/cw1.jpg" width="400px" height="600px"style="position:absolute;"/>
	<canvas id="canvas" style="position:absolute;"></canvas>
	
  <script>
	  const img=document.getElementById('img');
	  const canvas=document.getElementById('canvas');
	  const input=document.getElementById('input');
	
	  
	window.onload=async()=>{
		await loadModels();
		const resizedResults=await getFullFaceDescription(img.src,{width:img.width,height:img.height});
	};
	  
	  async function load(){
		  const resizedResults=await getFullFaceDescription(img.src,{width:img.width,height:img.height});
		  
		  canvas.width=img.width;
		  canvas.height=img.height;
		  
		 await drawFaceLandmark(canvas,resizedResults);
	  }
	  
  </script>
</body>
</html>