<!DOCTYPE html>
<html>
	<head>
		<script src="/js/face-api.js"></script>
		<script src="/js/faceLandmark.js"></script>
		<script src="/js/makeUp.js"></script>
		
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div style="display: flex; flex-direction: column;">
			사진
			<input
				id="myFileUpload"
				type="file"
				onchange="uploadImage()"
				accept=".jpg, .jpeg, .png"
			/>
		</div>
			<div>
			<img id="myImg" src=""  style="position:absolute;"/>
			<canvas id="canvas" style="position:absolute;"></canvas>
			</div>
		<script>
			// faceapi 에 필요한 모델들을 로드해준다.
			window.onload = async () => {
				await loadModels();
			};
			
			const  myImg=document.getElementById('myImg');
			async function uploadImage() {
				const imgFile = document.getElementById('myFileUpload').files[0];
				const faceImg = await faceapi.bufferToImage(imgFile);
				myImg.src = faceImg.src;
				await detectionLoad();
			}
			
			
			async function detectionLoad() {
				const img=document.getElementById('myImg');
				let canvas = document.getElementById('canvas');
				const ctx=canvas.getContext('2d');
				const ctxLine=2;
				
				const resizedResults = await faceDetection(img.src, {
					width: img.width,
					height: img.height,
				});
				canvas.width = img.width;
				canvas.height = img.height;
				for(let i in resizedResults){
					ctx.strokeStyle="white";
					ctx.lineWidth = ctxLine; 
			 		ctx.setLineDash([4,3]) ;
					ctx.lineCap ="round";
					const width=resizedResults[i].box.right-resizedResults[i].box.left;
					const height=resizedResults[i].box.bottom-resizedResults[i].box.top;
					ctx.strokeRect(resizedResults[i].box.x,resizedResults[i].box.y,width,height);
					canvas.addEventListener('click',async function(){
						const x = event.clientX-ctx.canvas.offsetLeft; 
			            const y = event.clientY - ctx.canvas.offsetTop; 
						console.log(x,y);
						if( resizedResults[i].box.x <=x && x<= resizedResults[i].box.x+width && resizedResults[i].box.y<=y && y <=resizedResults[i].box.y+height){
							
							/*
							const regionsToExtract=[
								new faceapi.Rect(resizedResults[i].box.x,resizedResults[i].box.y,resizedResults[i].box.x+width,resizedResults[i].box.y+height)
							];
							let regionImg = await faceapi.fetchImage(img.src);
							const faceCanvas=await faceapi.extractFaces(regionImg,regionsToExtract);
							*/
							
							// 캔버스 이벤트를 전부 제거하기위해 canvas 복제 사용
    						const clone = await canvas.cloneNode(true);
							canvas.parentNode.replaceChild(clone, canvas);
							const selectIdx=i;
							faceSelectAfter(selectIdx);
							
						}
					});
				}
			}
			
			async function faceSelectAfter(selectIdx){
				/*
				let imageObj=new Image();
				imageObj.onload=await function(){
					ctx.drawImage();
				}*/
				const img=document.getElementById('myImg');
				const landmark=await faceLandmark(img.src, {
					width: img.width,
					height: img.height,
				},selectIdx);
				const canvas=document.getElementById('canvas');
				canvas.width = img.width;
				canvas.height = img.height;
				
				const resizedResults=landmark[0];
				const features=landmark[1];
				await makeUploading(resizedResults,features);
				//await faceapi.draw.drawFaceLandmarks(canvas,resizedResults);
				
			}
		</script>
	</body>
</html>